body {
    font-family: 'Courier', monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

header {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}

.headline-container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

.top-links a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
}

.main-headline {
    font-family: Arial, sans-serif;
    font-size: 42px;
    color: #000;
    text-align: center;
    margin-bottom: 20px 0 30px;
}

.main-headline a, .headline {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.news-column {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.news-column:last-child {
    border-right: none;
}

.news-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.caption {
    font-size: 12px;
    color: #777;
    font-weight: bold;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.column-image {
    width: 75%;
    height: auto;
}

@media (max-width: 1024px) {
    .top-links {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
  }
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .top-links {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
  }
    .news-container {
        grid-template-columns: 1fr;
    }
    .news-column {
        border-right: none;
    }
}

@media (max-width: 320px) {
    .top-links {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
  }
    body {
        font-size: 15px;
    }
    .news-container {
        grid-template-columns: 1fr;
    }
    .news-column {
        border-right: none;
    }
}
