body {
    font-family: 'Courier', monospace;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

header {
    padding: 40px 40px 20px;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.news-column {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.news-column:last-child {
    border-right: none;
}

.headline {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.news-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.caption {
    font-size: 12px;
    color: #777;
    font-weight: bold;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.column-image {
    width: 75%;
    height: auto;
}

@media (max-width: 1024px) {
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .news-container {
        grid-template-columns: 1fr;
    }
    .news-column {
        border-right: none;
    }
}

@media (max-width: 320px) {
    .news-container {
        grid-template-columns: 1fr;
    }
    .news-column {
        border-right: none;
    }
}
